/* q 19 */
/* .head{font-size: 50px;
color: green;
text-decoration: underline;} */

/* q 31 */
/* .styling{color:red; 
font-size: 50px;} */

/* ques no 34 */
/* .heading{text-decoration: underline;};

.stylin{font-size: 60px;
text-transform: uppercase;
color:blue;
font-weight: bold;}

.h{text-decoration: underline;}

.superHeading{color:red;
font-size: 88px;
font-family: sans-serif;
font-weight: bold;} */

.beauty{color:red;}